# Exploratory Data Analysis-Part 2

## Label Encoding

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data=pd.read_csv('Iris.csv',index_col=0)

In [3]:
data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
#creating a copy of the file, as we don't want to make changes in the original file
data1=data.copy()

In [5]:
labelencoder=LabelEncoder()
data1.iloc[:,-1]=labelencoder.fit_transform(data.iloc[:,-1])

In [6]:
data1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1              5.1           3.5            1.4           0.2        0
2              4.9           3.0            1.4           0.2        0
3              4.7           3.2            1.3           0.2        0
4              4.6           3.1            1.5           0.2        0
5              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
146            6.7           3.0            5.2           2.3        2
147            6.3           2.5            5.0           1.9        2
148            6.5           3.0            5.2           2.0        2
149            6.2           3.4            5.4           2.3        2
150            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

## One Hot Encoding

#### Using sklearn

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
data2=pd.read_csv('Iris.csv',index_col=0)

In [9]:
data2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
#creating instance of one hot encoder
enc=OneHotEncoder(handle_unknown='ignore')

In [11]:
enc_df=pd.DataFrame(enc.fit_transform(data2[['Species']]).toarray()) #converting 'species' column to array format

In [12]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

##### In the above o/p, we have 3 dummy variables after applying the one hot encoder and according to the values available, it is either marked as 0 or 1

#### Using Pandas

In [13]:
import pandas as pd

In [14]:
data3=pd.read_csv('Iris.csv',index_col=0)

In [15]:
data3_encoded=pd.get_dummies(data3)

In [16]:
data3_encoded

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
Id,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

## Isolation Forest

In [17]:
from sklearn.ensemble import IsolationForest

In [18]:
data=pd.read_csv('Iris.csv',index_col=0)
data_encoded=pd.get_dummies(data) #converting categorical text data to categorical numeric data

In [19]:
#training the model
clf=IsolationForest(random_state=10,contamination=0.01)
clf.fit(data_encoded)

C:\Users\DHATCHAYINI\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.01, random_state=10)

In [20]:
#predictions
y_pred_outliers=clf.predict(data_encoded)

In [21]:
#-1 for outliers and 1 for inliers
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

#### In the above o/p, there are 2 values which has -1 means there are 2 outliers which has been identified

In [22]:
data_encoded

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
Id,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

In [23]:
#Adding new data points to the 150th record as the outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [25]:
data_encoded

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
Id,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,20.0,40.0,30.0,50.0,1,0,0

In [26]:
#rebuilding the model with new data_encoded
clf=IsolationForest(random_state=10,contamination=0.01)
clf.fit(data_encoded)
#predictions
y_pred_outliers=clf.predict(data_encoded)
y_pred_outliers

C:\Users\DHATCHAYINI\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

#### Thus, in the above o/p last(150th) record has been identified as the outlier

In [27]:
#calculating the anomaly score
data_encoded['scores']=clf.decision_function(data_encoded)

In [28]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:7])

In [29]:
data_encoded

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica,scores,anomaly
Id,,,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0,0.203672,1
2,4.9,3.0,1.4,0.2,1,0,0,0.180215,1
3,4.7,3.2,1.3,0.2,1,0,0,0.177457,1
4,4.6,3.1,1.5,0.2,1,0,0,0.182234,1
5,5.0,3.6,1.4,0.2,1,0,0,0.196675,1
...,...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,0.158032,1
147,6.3,2.5,5.0,1.9,0,0,1,0.135432,1
148,6.5,3.0,5.2,2.0,0,0,1,0.180014,1
149,6.2,3.4,5.4,2.3,0,0,1,0.121823,1
150,20.0,40.0,30.0,50.0,1,0,0,-0.288846,-1

#### In the above o/p, last record(150th) has an anomaly of -1, which indicates that it is an outlier

In [30]:
#Print the outlier data points
data_encoded[data_encoded['anomaly']==-1]

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica,scores,anomaly
Id,,,,,,,,,
107,4.9,2.5,4.5,1.7,0,0,1,-0.009118,-1
150,20.0,40.0,30.0,50.0,1,0,0,-0.288846,-1

## Predictive Power Score

In [31]:
#install the package
!pip install ppscore

Collecting ppscore
  Downloading ppscore-1.3.0.tar.gz (17 kB)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\dhatchayini\anaconda3\lib\site-packages (from ppscore) (1.2.4)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\dhatchayini\anaconda3\lib\site-packages (from ppscore) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\dhatchayini\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dhatchayini\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dhatchayini\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dhatchayini\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dhatchayini\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dhatchayini\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.0.1)
Requirement already satisfied: scipy>=1.1.0 in c:\users\dhatchayini\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.8.0)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13150 sha256=b8cdb2a4ba5894b1b5babc14617d3a2992bd7db9e4ee31d5f8067e8dd8e595e5
  Stored in directory: c:\users\dhatchayini\appdata\local\pip\cache\wheels\5c\80\75\b631985b161d4a29cc0cf94b5f64b00be6297b0968ff1337ce
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.3.0

In [32]:
import ppscore as pps

In [34]:
#pps.score(df,'feature_column','target_column') syntax
pps.score(data,'SepalLengthCm','PetalLengthCm')

{'x': 'SepalLengthCm',
 'y': 'PetalLengthCm',
 'ppscore': 0.5505748783284862,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 1.488,
 'model_score': 0.6687445810472126,
 'model': DecisionTreeRegressor()}

In [35]:
#calculate the whole PPS matrix
pps.matrix(data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,SepalLengthCm,SepalLengthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,SepalLengthCm,SepalWidthCm,0.000000,regression,True,mean absolute error,0.327333,0.362073,DecisionTreeRegressor()
2,SepalLengthCm,PetalLengthCm,0.550575,regression,True,mean absolute error,1.488000,0.668745,DecisionTreeRegressor()
3,SepalLengthCm,PetalWidthCm,0.431163,regression,True,mean absolute error,0.645333,0.367090,DecisionTreeRegressor()
4,SepalLengthCm,Species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
5,SepalWidthCm,SepalLengthCm,0.001902,regression,True,mean absolute error,0.684667,0.683364,DecisionTreeRegressor()
6,SepalWidthCm,SepalWidthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
7,SepalWidthCm,PetalLengthCm,0.167773,regression,True,mean absolute error,1.488000,1.238354,DecisionTreeRegressor()
8,SepalWidthCm,PetalWidthCm,0.129681,regression,True,mean absolute error,0.645333,0.561646,DecisionTreeRegressor()
9,SepalWidthCm,Species,0.179145,classification,True,weighted F1,0.353333,0.469180,DecisionTreeClassifier()
10,PetalLengthCm,SepalLengthCm,0.524480,regression,True,mean absolute error,0.684667,0.325573,DecisionTreeRegressor()
11,PetalLengthCm,SepalWidthCm,0.041298,regression,True,mean absolute error,0.327333,0.313815,DecisionTreeRegressor()
12,PetalLengthCm,PetalLengthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
13,PetalLengthCm,PetalWidthCm,0.745236,regression,True,mean absolute error,0.645333,0.164408,DecisionTreeRegressor()
14,PetalLengthCm,Species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
15,PetalWidthCm,SepalLengthCm,0.384320,regression,True,mean absolute error,0.684667,0.421535,DecisionTreeRegressor()
16,PetalWidthCm,SepalWidthCm,0.258780,regression,True,mean absolute error,0.327333,0.242626,DecisionTreeRegressor()
17,PetalWidthCm,PetalLengthCm,0.798971,regression,True,mean absolute error,1.488000,0.299131,DecisionTreeRegressor()
18,PetalWidthCm,PetalWidthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
19,PetalWidthCm,Species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
20,Species,SepalLengthCm,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
21,Species,SepalWidthCm,0.183645,regression,True,mean absolute error,0.327333,0.267220,DecisionTreeRegressor()
22,Species,PetalLengthCm,0.785451,regression,True,mean absolute error,1.488000,0.319249,DecisionTreeRegressor()
23,Species,PetalWidthCm,0.755378,regression,True,mean absolute error,0.645333,0.157863,DecisionTreeRegressor()
24,Species,Species,1.000000,predict_itself,True,None,0.000000,1.000000,None